<section class="app-container">
  <!-- Create New App -->
  <div class="create-app" [routerLink]="['/workflow', 'create', 'new']" *ngIf="isSuperAdmin" >
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span class="label">Create New App</span>
  </div>

  <!-- Applications List -->
  <div class="app-list">
    <div class="app-card" *ngFor="let item of applications">
      <div class="header">
        <span class="initial">{{ item.name[0] }}</span>
        <div class="info">
          <span class="name">{{ item.name }}</span>
          <span class="email">{{ item.email || 'admin@aetasaal.com' }}</span>
        </div>
        <span class="status" [ngClass]="{'published': item.isPublished, 'draft': !item.isPublished}">
          {{ item.isPublished ? 'Publish' : 'Draft' }}
        </span>
      </div>
      <div class="description">
        <span>{{ item.shortDescription }}</span>
      </div>
      <div class="actions">
        <span *ngIf="item.isPublished" [routerLink]="['/workflow', item.id, 'execute', 'new', 'open']">
          <i class="fas fa-plus"></i>
        </span>
        <span *ngIf="item.canEdit" [routerLink]="['/workflow', 'create', item.id]">
          <i class="fas fa-pencil-alt"></i>
        </span>
        <span (click)="deleteApplication(item.id)">
          <i class="fas fa-trash"></i>
        </span>
      </div>
    </div>
  </div>
</section>
