<section class="execution-tasks-content">
  <div class="execution-tasks-header">
    <div>
      {{title}}
    </div>
    <div>
      Total Tasks: {{ lists.length }}
    </div>
  </div>
  <div class="execution-tasks-search-box" *ngIf="status === 'participated'">
    <input type="text" [(ngModel)]="searchText" (keyup.enter)="searchParticipated()" placeholder="Search By Application Name, Request Title, Initiator" />
  </div>
  <div class="execution-tasks-search-box" *ngIf="status !== 'participated' && status !== 'withdraw'">
    <input type="text" [(ngModel)]="searchByMulti" (keyup.enter)="filterResultsByMultiFields()" placeholder="Search By Application Name, Request Title, Initiator" />
  </div>
  <div class="execution-tasks-report-box" *ngIf="status === 'withdraw'">
    <div class="col col-1">
      <span>Select Application</span>
      <ng-select [items]="applications" bindLabel="name" bindValue="id" name="id"
        [(ngModel)]="rptFilter.applicationId" placeholder="Select Application">
      </ng-select>
    </div>
    <div class="col col-2">
      <span>Start Date</span>
      <input type="date" name="startDate" [(ngModel)]="rptFilter.startDate" class="form-control">
    </div>
    <div class="col col-3">
      <span>End Date</span>
      <input type="date" name="endDate" [(ngModel)]="rptFilter.endDate" class="form-control">
    </div>
    <div class="col col-4">
      <span>Find Report</span>
      <button type="submit" (click)="getListData()">
        search
      </button>
    </div>
  </div>
  <mat-accordion *ngIf="lists.length">
    <mat-expansion-panel [hideToggle]="true" *ngFor="let list of lists" (opened)="openAccordianItem(list)">
      <mat-expansion-panel-header>
        <div class="accordion-header">
          <span class="col">{{ list.name }}</span>
          <span class="col">{{ list.createdByName }}</span>
          <span class="col">{{ list.applicationWorkflowName }}</span>
          <span class="col">{{ list.createdAt ? (list.createdAt | date:'medium') : 'N/A' }}</span>
          <span class="col col-5"><i class="fas fa-chevron-down"></i></span>
        </div>
      </mat-expansion-panel-header>
      <div class="expansion-panel-body">
        <div class="tab-container">
          <!-- Custom 3-Column Tab Header -->
          <div class="tab-header">
            <div class="tab-item" [class.active]="selectedTab === 'application'" (click)="selectTab('application')">
              Application
            </div>
            <div class="tab-item" [class.active]="selectedTab === 'comments'" (click)="selectTab('comments')">
              Comments
            </div>
            <div class="tab-item" [class.active]="selectedTab === 'details'" (click)="selectTab('details')">
              Details
            </div>
          </div>
        
          <!-- Tab Content -->
          <div class="tab-content" *ngIf="selectedTab === 'application'">
            <div class="application-title">Application Task Form</div>
            <div class="application-content" *ngIf="list.isDataLoaded">
              <div class="application-sections" *ngFor="let section of list.application.applicationFormSections">
                <div class="application-content-header">
                  {{ section.name }}
                </div>
                <div class="application-content-body">
                  <form [formGroup]="section.formlyProp.templateOptionsForm">
                    <formly-form [fields]="section.formlyProp.fields"
                                 [options]="section.formlyProp.options"
                                 [form]="section.formlyProp.templateOptionsForm">
                    </formly-form>
                  </form>
                </div>
              </div>
            </div>
          </div>
        
          <div class="tab-content" *ngIf="selectedTab === 'comments'">
            <div class="comments-title">Comments</div>
            <div class="comments-content" *ngIf="list.allComments?.length; else noComments">
              <div class="comment-detail" *ngFor="let com of list.allComments">
                <span class="user-name-initial-letter">{{ com.userName?.charAt(0) }}</span>
                <span class="user-name">{{ com.userName }}</span>
                <span class="comment-time">{{ com.time ? (com.time | date:'medium') : 'N/A' }}</span>
                <span class="comments">• {{ com.comment }}</span>
              </div>
            </div>
            <ng-template #noComments>
              <div class="no-comments">No comments yet.</div>
            </ng-template>
          </div>
        
          <div class="tab-content" *ngIf="selectedTab === 'details'">
            <div class="details-title">Task Details</div>
            <div class="details-content">
              <div>
                <p><span><strong>Application Name</strong></span><span>• {{ list.name }}</span></p>
                <p><span><strong>Created By</strong></span><span>• {{ list.createdByName }}</span></p>
                <p><span><strong>Current Workflow</strong></span><span>• {{ list.applicationWorkflowName }}</span></p>
                <p><span><strong>Created At</strong></span><span>• {{ list.createdAt ? (list.createdAt | date:'medium') : 'N/A' }}</span></p>
                <p><span><strong>Updated At</strong></span><span>• {{ list.updatedAt ? (list.updatedAt | date:'medium') : 'N/A' }}</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="" *ngIf="status === 'clarity'">
          <div class="clarification-box">
            <label>Please add clarification<sup>*</sup></label>
            <textarea [(ngModel)]="newComment" class="form-control"></textarea>
          </div>
        </div>        
        <div class="action-buttons">
          <button *ngIf="status === 'approval' || status === 'input'" class="btn btn-primary" (click)="sendForApproval(list)">Approve</button>
          <button *ngIf="status === 'approval' || status === 'input'" class="btn btn-default" (click)="sendForReassign(list)">Reassign</button>
          <button *ngIf="status === 'approval' || status === 'input'" class="btn btn-info" (click)="sendForClarity(list)">Get Clarity</button>
          <button *ngIf="status === 'approval' || status === 'input'" class="btn btn-danger" (click)="sendForRejection(list)">Reject</button>
          <button *ngIf="status !== 'approved' && status !== 'rejected' && status !== 'withdraw' && list.canWithdraw && list.createdBy === currentUserId" class="btn btn-secondary" (click)="sendForWithdraw(list)">Withdraw</button>
          <div class="draft-edit" *ngIf="status === 'draft'">
            <button [routerLink]="['/workflow', list.applicationId, 'execute', list.id, 'open']">
              Edit
            </button>
          </div>
          <div class="draft-delete">
          <button *ngIf="status === 'draft'" (click)="$event.stopPropagation(); deleteRecord(list.id)">Delete</button>
          </div>
          <div class="" (click)="saveExecution(list)" *ngIf="status === 'clarity'">
            <button class="">
              Save
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="no-records" *ngIf="!lists.length">
    No records available.
  </div>

  <div class="pagination-container">
    <!-- Left Column: Info Section -->
    <div class="info-column">
      <select name="example-datatable_length" [(ngModel)]="filters.noOfPages" (change)="getPaginatedData()"
        aria-controls="example-datatable" class="form-control">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="-1">All</option>
      </select>
  
      <p>
        Showing <strong>{{filters.pageNo}}</strong> - <strong>{{filters.noOfPages > 0 ? filters.noOfPages : 1}}</strong> of <strong>{{totalRecords}}</strong>
      </p>
    </div>
  
    <!-- Right Column: Pagination Controls -->
    <div class="pagination-controls" *ngIf="filters.noOfPages !== -1">
      <ul>
        <li class="nav-btn" (click)="goToPrevious()">Previous</li>
        <li class="nav-btn" (click)="goToNext()">Next</li>
        <li>
          <select name="example-datatable_length" [(ngModel)]="filters.pageNo" class="form-control"
            (change)="goToPage(filters.pageNo)">
            <option *ngFor="let item of range" [value]="item+1">{{item+1}}</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
  
</section>