mat-horizontal-stepper {
  .mat-horizontal-stepper-header-container {
    margin-bottom: 40px !important;
    height: 100px !important;
  }
}

.fields-list {
  border-right: 1px solid #cecece;
  padding: 10px 0;

  .width-48 {
    width: 48%;
  }

  .width-96 {
    width: 96%;
  }

  .field-box {
    padding: 10px;
    display: inline-block;
    background: #fff;
    margin: 1%;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px;

    .icon {
      display: inline-table;
      width: 15%;
      font-size: 18px;
      vertical-align: middle;
    }

    .name {
      display: inline-table;
      width: 85%;
      font-size: 14px;
      vertical-align: middle;
    }

    &:hover {
      -webkit-transform: translate3d(0, -2px, 0);
      -moz-transform: translate3d(0, -2px, 0);
      -ms-transform: translate3d(0, -2px, 0);
      -o-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0);
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 40px 16px -20px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      cursor: pointer;
      -webkit-transition: 0.3s all cubic-bezier(0.48, 0.04, 0.21, 0.94);
      -moz-transition: 0.3s all cubic-bezier(0.48, 0.04, 0.21, 0.94);
      transition: 0.3s all cubic-bezier(0.48, 0.04, 0.21, 0.94);
    }
  }

  .mat-panel-dragged {
    min-height: 80px;
    margin-bottom: 12px;
    border-radius: unset;
    //border-bottom: 1px solid #f4f4f4;

    .icon-trash {
      float: right;
      display: inline-block;
      margin-top: 18px;
      color: #757575;
    }

    .mat-expansion-panel-header {
      min-height: 80px !important;
    }

    .mat-expansion-panel-content {
      background-color: #fff !important;
    }

    .mat-expanded {
      background-color: #fff;
    }

    .dragged-controls {
      display: block;

      .input-title {
        display: block;
        height: 26px;
        font-size: 14px;
      }

      .input-overlay {
        display: inline-block;
        border-bottom: 1px solid #000;
        width: 50%;
        margin-right: 10px;
      }
    }
  }
}

.add-buttons {
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted #ddd;
  line-height: 0.1em;
  margin: 10px 0 0px;

  .add-section {
    background-color: white;
    font-size: 11px;
    display: inline !important;
    padding: 0 10px 0 10px;
    color: #00796b;
    text-transform: uppercase;
  }

  .add-table {
    background-color: white;
    font-size: 11px;
    display: inline !important;
    padding: 0 10px 0 10px;
    color: #00796b;
    text-transform: uppercase;
  }

  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

form {
  &.design-form {
    input {
      display: inline-block;
      width: 50%;
      padding-bottom: 5px;
      padding-left: 13px;
    }

    input,
    textarea {
      border: 0;
      border-radius: 0px;
      border-bottom: 1.5px dashed transparent;
      max-height: 70px;
      resize: none;
      margin-bottom: 0px;

      &:hover {
        background-color: whitesmoke;
        border-bottom: 1.5px dashed red;
        transition: all 0.3s;
      }
    }

    .action-btn {
      display: inline-block;
      float: right;
      margin-right: 10px;
    }

    .border-remove {
      box-shadow: none !important;
    }
  }

  &.design-form-acc {
    input,
    textarea {
      border: 0px;
      border-bottom: 2px solid;
      border-radius: 0px;
    }
  }
}

.dragged-container {
  min-height: 100px;

  .border-remove {
    box-shadow: none !important;

    .mat-expansion-panel-header {
      transition: all 0.3s;
    }
  }

  .mat-expansion-panel-header {
    padding-left: 22%;

    &.mat-expanded {
      background-color: whitesmoke !important;
    }
  }

  .input-title {
    padding-bottom: 30px;
    height: 40px !important;
  }

  .input-icon {
    display: none !important;
  }

  .icon-trash {
    display: none !important;
    position: absolute;
    right: 10px;
    transition: all 0.3s;
  }

  &:hover {
    .input-icon,
    .icon-trash {
      display: initial !important;
    }

    .icon-trash {
      right: 30px;
    }
  }
}
.mat-radio-label {
  position: absolute !important;
  left: 20px !important;
}
table {
  &.workflow-table {
    .expension-icon {
      position: absolute;
      top: 42px;
      right: 27px;
      color: white;
      opacity: 0;
      transition: all 0.3s;
    }
    .mat-radio-outer-circle {
      border-color: white !important;
    }
    .mat-radio-button.mat-accent .mat-radio-inner-circle {
      background-color: #b80000;
    }
    width: 100%;

    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
      width: 100%;
    }

    tbody {
      td {
        width: 100%;
        text-align: center;
        vertical-align: top;
        border-radius: 0px;
      }

      .circle-main {
        width: 37px;
        height: 37px;
        position: relative;
        overflow: hidden;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin: auto;

        .circle-inner {
          margin: 10px;
          border: #009688 2px solid;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          position: absolute;
          left: 0;
          right: 0;
          /* text-align: center; */
          margin: auto;
          bottom: 0;
          top: 0;
        }
      }

      .lines {
        width: 100%;

        .border-left {
          border-left: 1px solid #ddd;
          height: 50px;
          width: 50%;
        }

        .border-right {
          border-right: 1px solid #ddd;
          height: 50px;
          width: 50%;
        }
      }

      tr {
        .node {
          .first-node {
            cursor: default;
            width: 300px;
            margin: 0 auto;
            position: relative;
            background-color: #009688 !important;
            &:hover {
              .expension-icon {
                display: inherit;
                opacity: 1;
              }
            }

            .node-header {
              padding: 15px;
            }

            .node-footer {
              border-top: 1px solid rgba(255, 255, 255, 0.6) !important;
            }
          }
        }

        &.circular-btns {
          height: 60px;
        }
      }
    }
    .assign-to-section {
      text-align: left;
      color: #fff;
      a {
        color: #fff;
        text-decoration: underline;
      }
      .rb-assignto {
        mat-radio-button {
          display: block;
          text-align: left;
        }
      }
    }
  }
}

.circular-menu {
  position: absolute;
  bottom: -4em;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 111;
}

.circular-menu .floating-btn {
  display: block;
  margin: auto;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform 0.2s;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;

  top: 0.2em;
  right: 0;
  left: 0;
  margin: auto !important;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0, 0%, 0%, 0.1);
  transition: transform 0.3s ease, background 0.2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0em, -4em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-4.2em, 0em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(0em, 4em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(4em, 0em, 0);
}

/**
   * The other theme for this menu
   */

.circular-menu.circular-menu-left {
  right: auto;
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em, -7em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em, -6.3em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em, -3.2em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em, 1em, 0);
}

.permission-section {
  .box-permission {
    padding-top: 15px;
    padding-bottom: 5px;
    background: #fff;
    font-size: 16px;
    min-height: 70px;
    vertical-align: middle;
    position: relative;
    margin-bottom: 10px;

    .icon {
      position: relative;
      top: -25px;
      display: inline-block;
      width: 10%;
      text-align: center;
      i {
        font-size: 13px;
      }
    }

    .name {
      display: inline-block;
      width: 85%;
      font-size: 14px;
    }

    &.active {
      background: #b80000 !important;
      color: #fff;
    }
  }

  .perm-active {
    background-color: #b80000 !important;
    color: #fff !important;
  }
  .permission-box {
    // border-bottom: 1px solid #ded9d9;
    margin-bottom: 10px;
    .buttons-hidden {
      opacity: 0;
      transition: all 0.3s ease-out;
    }
    &:hover {
      .buttons-hidden {
        display: inherit;
        opacity: 1;
      }
    }
    .margin-bottom-10px {
      margin-bottom: 10px;
    }
    .field-title {
      font-weight: regular;
      font-size: 16px;
    }
  }
  .permission-field-section {
    margin-bottom: 10px;
    .left {
      left: 10%;
    }
    .input-title {
      display: block;
      padding-bottom: 10px;
      width: 50%;
      margin: auto;
      font-size: 14px;
      color: #9e9e9e;
    }
    .input-sec {
      .input-hidden {
        position: relative;
        top: -40px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        .input-hidden {
          opacity: 1;
        }
      }

      .input-overlay {
        display: table;
        width: 100%;
        margin-right: 10px;
        padding-top: 20px;

        .input-border {
          display: table;
          width: 50%;
          margin: auto;
          border-bottom: 1px solid #9e9e9e;
        }
        &:hover {
          background-color: #f7fbd6;
        }
      }
    }
  }
  .btn-perm {
    padding: 10px 1px !important;
    font-size: 11px;
    min-width: 130px;
    border: none;
    background-color: #9e9e9e;
    color: white;
    border-radius: 2px;
    margin-right: 6px;
  }
}

.publish-section {
  .form-field-title-select {
    list-style: none;
    border: 1px solid #cccccc;
    padding: 10px;
    background: #efefef;
    li {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
  }
}
