<section class="side-menu" [class.hidden]="!isVisible">
  <div class="user-bio">
    <img src="{{ user.pictureUrl || '../../../../../../assets/images/man.png' }}" alt="Profile Image">
    <p>{{ user.firstName + ' ' + user.lastName }}</p>
    <button class="close-button" (click)="toggleSidebar()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="primary-menu">
    <ul>
      <li *ngFor="let menu of menus">
        <a 
          [routerLink]="menu.Link" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="goTo(menu)">
          <i class="fas {{ menu.Icon }}"></i>
          <span>{{ menu.Name }}</span>
        </a>
      </li>
    </ul>
  </div>
</section>
