.delete-execution-tasks-content {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  color: var(--text-primary);
}

.delete-execution-tasks-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.5rem 1rem;
}

.delete-execution-tasks-report-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-left: 1rem;
  margin-right: 1rem;
  row-gap: 1.5rem;
  background-color: var(--background-dark);
}

@media (max-width: 768px) {
  .delete-execution-tasks-report-box {
    flex-direction: column;
  }
}

.delete-execution-tasks-report-box .col {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    width: 200px !important;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 1rem;
    color: var(--text-primary);
  }

.delete-execution-tasks-report-box input,
.delete-execution-tasks-report-box button {
  width: 100% !important;
  height: 36px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
  border: none !important;
  outline: 1px solid var(--border-color);
  outline-offset: 4px;
}

.delete-execution-tasks-report-box .col-5 button {
    background: linear-gradient(135deg, var(--custom-color), #ff6b6b);
    color: var(--text-primary);
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: black;
}

::ng-deep .ng-select .ng-clear-wrapper,
::ng-deep .ng-select .ng-clear-wrapper .ng-clear {
  color: black !important;
}

::ng-deep .ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    border-color: transparent transparent black;
}
  
::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: black transparent transparent;
}

::ng-deep .ng-select .ng-select-container {
    width: 166px !important;
    outline: 1px solid var(--border-color) !important;
    outline-offset: 4px !important;
    border-radius: 5px !important;
    border: none !important;
}