<div class="col-md-12">
    <div class="box bg-white">
      <div class="box-header">
        <h4 class="fw-normal title fs-medium d-inline-block">Input Requests</h4>
      </div>
      <div class="box-body">
        <div class="row">
          <!-- Table -->
          <section class="data-table">
              <!-- <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="firstname" placeholder="Search By Status"
                      [(ngModel)]="filters.searchArray[0].value">
                  </div>
                </div> -->
            <mat-accordion>
                  <mat-expansion-panel
                    *ngFor="let list of lists | filter:{filtrationKeys: ['status'], filtrationValues: [filters.searchArray[0].value]}"
                    class="mat-detail-panel">
                    <mat-expansion-panel-header>
                      <mat-panel-title *ngIf="!list.title" >
                        {{list.application.name}}
                      </mat-panel-title>
                      <mat-panel-title *ngIf="list.title" >
                        {{list.title}}
                      </mat-panel-title>
                      <mat-panel-description>
                        <span class="width-50-p">Input Task</span>
                        <span class="width-50-p">{{list.startedAt ? (list.startedAt | date:'MMM dd') : 'N/A' }}</span>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="box bg-white" *ngFor="let section of list.application.applicationFormSections">
                        <div class="box-header">
                          <h4 class="fw-normal title fs-medium d-inline-block">{{section.name}}</h4>
                          <i mat-raised-button matTooltip="{{section.helpText}}" class="info-icon fas fa-question-circle">
                          </i>
                        </div>
                        <div class="row box-body">
                          <form [formGroup]="section.formlyProp.templateOptionsForm" class="design-form-acc execution-form">
                              <formly-form [fields]="section.formlyProp.fields" [options]="section.formlyProp.options"
                                  [form]="section.formlyProp.templateOptionsForm">
                              </formly-form>
                          </form>

                          
                          <div class="col-md-4" *ngFor="let ef of section.applicationFormFields">
                            <label class="label-title">
                              {{ef.name}}
                            </label><br>
                            <label class="label-name" *ngIf="ef.templateOptions.type !== 'file'">
                              {{ef.value}}
                            </label>
                            <a *ngIf="ef.templateOptions.type === 'file' && ef.value" href="{{getLink(ef.value)}}"
                              target="_blank" class="btn btn-default">Download {{ef.name}}</a>
                          </div>



                        </div>
                      </div>
                    <div class="row action-buttons">
                      <div class="col-md-2 pull-right">
                        <button class="btn btn-primary width-100-p" (click)="sendForApproval(list)">Approve</button>
                      </div>
                      <div class="col-md-2 pull-right">
                        <button class="btn btn-info width-100-p" (click)="sendForClarity(list)">Get Clarity</button>
                      </div>
                      <div class="col-md-2 pull-right">
                        <button class="btn btn-danger width-100-p" (click)="sendForRejection(list)">Reject</button>
                      </div>
                    </div>
                    <br />
                    <br />
                    <div class="comment-box"
                      *ngIf="list.applicationExecutionWorkflows[0].comments && list.applicationExecutionWorkflows[0].comments.length">
                      <div class="row">
                        <span class="header">Comments</span>
                        <span class="view-comment-link" (click)="list.viewComment = !list.viewComment">View Comments</span>
                      </div>
                      <div *ngIf="list.viewComment">
                        <div class="row line-item" *ngFor="let com of list.applicationExecutionWorkflows[0].comments">
                          <div class="comment-initial">
                            <span class="sp-latter lighten-2">{{com.userName.charAt(0)}}</span>
                          </div>
                          <div class="comment-detail">
                            <span class="user-name">{{com.userName}}</span>
                            <span class="com-time">{{com.time ? (com.time | date:'medium') : 'N/A'}}</span>
                            <span class="comments">{{com.comment}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
            </mat-accordion>
            <div class="row" *ngIf="!lists.length" >
                <div class="col-md-12 text-center">
                  <h4>No items</h4>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                  <select name="example-datatable_length" [(ngModel)]="filters.noOfPages" (change)="getPaginatedData()"
                    aria-controls="example-datatable" class="form-control">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="-1">All</option>
                  </select>
      
                  <p class="mtpx-10 text-sm-center paging-size-info">
                    Showing
                    <strong>{{filters.pageNo}}</strong> -
                    <strong>{{filters.noOfPages > 0 ? filters.noOfPages : 1}}</strong> of
                    <strong>{{totalRecords}}</strong>
                  </p>
            </div>
  
            <div class="col-lg-6 col-md-12">
                  <ul class="pagination ta-right text-md-left unstyled">
                    <li class="prev" (click)="filters.pageNo == '1' && goToPrevious()">
                      Previous
                    </li>
                    <li *ngFor="let item of range" [ngClass]="filters.pageNo == (item + 1) ? 'active-page' : ''"
                      (click)="goToPage(item)">
                      {{item + 1}}
                    </li>
                    <li class="next" (click)="filters.pageNo == (range[range.length - 1] + 1) && goToNext()">
                      Next
                    </li>
                  </ul>
            </div>


            <!-- <div class="mtpx-40 hidden-sm-up"></div>
            <table class="w-100 mbpx-10 table-strip">
              <tr>
                <th>App Name</th>
                <th>Start At</th>
                <th>Created On</th>
                <th>Action</th>
              </tr>
              <tr class="table-footer">
                <td colspan="6">
                  <input type="text" class="form-control" name="firstname" placeholder="Search By Status"
                    [(ngModel)]="filters.searchArray[0].value">
                </td>
              </tr>
              <tr
                *ngFor="let list of lists | filter:{filtrationKeys: ['status'], filtrationValues: [filters.searchArray[0].value]}">
                <td>{{list.application.name}}</td>
                <td>{{list.startedAt ? (list.startedAt | date:'medium') : 'N/A'}}</td>
                <td>{{list.createdAt ? (list.createdAt | date:'medium') : 'N/A' }}</td>
                <td>
                  <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="sendForClarity(list)">Get Clarity</button>
                    <button mat-menu-item (click)="sendForRejection(list)">Reject</button>
                    <button mat-menu-item (click)="sendForApproval(list)">Approve</button>
                  </mat-menu>
                </td>
              </tr>
              <tr>
                <td class=" text-center" *ngIf="lists.length == 0" colspan="6">
                      No Lists Available
                </td>
              </tr>
            </table>
            <div class="col-lg-6 col-md-12">
              <select name="example-datatable_length" [(ngModel)]="filters.noOfPages" (change)="getPaginatedData()"
                aria-controls="example-datatable" class="form-control">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="-1">All</option>
              </select>
  
              <p class="mtpx-10 text-sm-center paging-size-info">
                Showing
                <strong>{{filters.pageNo}}</strong> -
                <strong>{{filters.noOfPages > 0 ? filters.noOfPages : 1}}</strong> of
                <strong>{{totalRecords}}</strong>
              </p>
            </div>
  
            <div class="col-lg-6 col-md-12">
              <ul class="pagination ta-right text-md-left unstyled">
                <li class="prev" (click)="filters.pageNo == '1' && goToPrevious()">
                  Previous
                </li>
                <li *ngFor="let item of range" [ngClass]="filters.pageNo == (item + 1) ? 'active-page' : ''"
                  (click)="goToPage(item)">
                  {{item + 1}}
                </li>
                <li class="next" (click)="filters.pageNo == (range[range.length - 1] + 1) && goToNext()">
                  Next
                </li>
              </ul>
            </div> -->
          </section>
        </div>
      </div>
    </div>
  </div>