<section class="workflow-execution-content" *ngIf="isFormBinded">
  <div class="workflow-execution-download-buttons">
    <div *ngIf="downloadButtons && downloadButtons.length" >
      Download Documents
    </div>
    <div class="workflow-execution-download-buttons-list">
      <a *ngFor="let item of downloadButtons" 
         href="{{item.link}}" 
         (click)="openModal($event, item.link)">
        Download {{item.name}}
      </a>
    </div>    
  </div>

  <div class="workflow-execution-content-form-sections" *ngFor="let item of applicationFormSection">
    <div>
      {{item.name}}
    </div>

    <div class="workflow-execution-form">
      <form [formGroup]="item.formlyProp.templateOptionsForm" >
        <formly-form [fields]="item.formlyProp.fields" [options]="item.formlyProp.options"
          [form]="item.formlyProp.templateOptionsForm">
        </formly-form>
      </form>
    </div>
  </div>

  <div class="workflow-action-buttons" *ngIf="state !== 'read'">
    <button type="submit" [routerLink]="['/workflow', 'draft', 'all']">Cancel</button>
    <button type="submit" (click)="saveApplicationExecutionData()" *ngIf="!editDetails || editDetails.status !== 'approved'">Save as Draft</button>
    <button type="submit" (click)="saveApplicationExecutionData(true)" *ngIf="!editDetails || editDetails.status !== 'approved'">Save and Publish</button>
    <button type="submit" (click)="publishExecution()" *ngIf="editDetails && editDetails.status === 'draft'">Publish</button>
  </div>
</section>

<!-- Fullscreen Modal Overlay for File Preview -->
<div class="file-preview-modal" *ngIf="showModal">
  <div class="file-preview-modal-content">
    <i class="fas fa-times close-button" (click)="closeModal()"></i>
    <iframe [src]="sanitizedPreviewUrl" class="preview-iframe"></iframe>
  </div>
</div>
