<section class="my-profile-section">
  <form class="my-profile-section-form" name="userForm" *ngIf="isFormBinded" [formGroup]="userForm" novalidate id="form-test-details">
    <div>Personal Information</div>
    <div>
      <div>
        <label>Name</label>
        <input type="text" formControlName="firstName" name="firstName" class="form-control" />
        <p class="custom-error" *ngIf="userForm.get('firstName').hasError('required') && userForm.get('firstName').touched">
          First Name is required.
        </p>
      </div>

      <div>
        <label>Last Name</label>
        <input type="text" formControlName="lastName" name="LastName" class="form-control" />
        <p class="custom-error" *ngIf="userForm.get('lastName').hasError('required') && userForm.get('lastName').touched">
          Last Name is required.
        </p>
      </div>

      <div>
        <label>Roles</label>
        <ng-select [items]="roles" bindLabel="name" bindValue="id" name="roleIdss" formControlName="roleIdss"  multiple="true" placeholder="Select Roles"></ng-select>
        <p class="custom-error" *ngIf="userForm.get('roleIds').hasError('required') && userForm.get('roleIds').touched">
          Roles is required.
        </p>
      </div>

      <div>
        <label>Email</label>
        <input type="text" formControlName="email" name="email" class="form-control" />
        <p class="custom-error" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
          Email is required.
        </p>
      </div>

      <div>
        <label>Contact No</label>
        <input type="text" formControlName="contactNo" name="contactNo" class="form-control">
        <p class="custom-error" *ngIf="userForm.get('contactNo').hasError('required') && userForm.get('contactNo').touched">
          Contact No address
        </p>
      </div>

      <div>
        <label>Gender</label>
        <ng-select [items]="genders" bindLabel="name" bindValue="name" name="gender" formControlName="gender" placeholder="Select Gender"></ng-select>
        <p class="custom-error" *ngIf="userForm.get('gender').hasError('required') && userForm.get('gender').touched">
          Gender is required.
        </p>
      </div>

      <div>
        <button type="submit" [disabled]="userForm.invalid" (click)="saveUser()">
          Update Profile
        </button>
      </div>
    </div>
  </form>

  <form class="my-profile-section-form" name="passwordForm" *ngIf="isFormBinded" [formGroup]="passwordForm" novalidate id="form-test">
    <div>Change Password</div>
    <div>
      <div>
        <label>Current Password</label>
        <input type="password" formControlName="oldPassword" name="oldPassword" class="form-control" />
        <p class="custom-error" *ngIf="passwordForm.get('oldPassword').hasError('required') && passwordForm.get('oldPassword').touched">
          Current Password is required.
        </p>
      </div>
  
      <div>
        <label>New Password</label>
        <input type="password" formControlName="newPassword" name="LastName" class="form-control" />
        <p class="custom-error" *ngIf="passwordForm.get('newPassword').hasError('required') && passwordForm.get('newPassword').touched">
          Password is required.
        </p>
      </div>
  
      <div>
        <button type="submit" [disabled]="passwordForm.invalid" (click)="savePassword()">
          Update Password
        </button>
      </div>
    </div>
  </form>
</section>

