.my-profile-section {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    padding: 1.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 1.5rem 1rem;
    row-gap: 1rem;
}

.my-profile-section-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.my-profile-section-form > div:first-child {
    padding: 1rem;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .my-profile-section-form {
        grid-template-columns: 1fr;
    }

    .my-profile-section-form > div:first-child {
        text-align: center;
        border: 1px solid var(--border-color);
        border-radius: 5px;
    }
}

::ng-deep form input,
::ng-deep form textarea,
::ng-deep form select,
::ng-deep form button,
::ng-deep form input[type="checkbox"],
::ng-deep form input[type="radio"],
::ng-deep form input[type="file"],
::ng-deep form input[type="date"] {
  // border: 1px solid red !important;
  display: block;
  width: 100% !important;
  padding: 1rem !important;
  margin-bottom: 0.5rem !important;
}

::ng-deep form label {
    display: block;
    padding: 1rem 0rem;
}

::ng-deep form input {
    border-radius: 5px;
    border: none;
}

button {
    margin-top: 1rem;
    background: linear-gradient(135deg, var(--custom-color), #ff6b6b);
    border: 3px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-primary);
}

::ng-deep select {
    background-color: var(--background-light-dark) !important;
    color: var(--text-primary) !important;
  }
  
  ::ng-deep .mat-select-arrow {
    padding-right: 8px;
  }
  
  ::ng-deep .ng-select-container {
    background-color: var(--background-light-dark) !important;
    color: var(--text-primary) !important;
  }
  
  ::ng-deep .ng-option {
    background-color: var(--background-light-dark) !important;
    color: var(--text-primary) !important;
  }
  
  ::ng-deep .ng-placeholder,
  ::ng-deep .ng-clear-wrapper {
    color: var(--text-primary) !important;
  }
  
  ::ng-deep .ng-arrow-wrapper .ng-arrow {
    border-color: var(--text-primary) transparent transparent !important;
  }
  
  
  ::ng-deep ng-select input {
    caret-color: var(--text-primary);
    color: var(--text-primary) !important;
  }
  
  ::ng-deep textarea {
    background-color: var(--background-light-dark) !important;
    color: var(--text-primary) !important;
  }
  
  ::ng-deep input[type="date"] {
    background-color: var(--background-light-dark) !important;
    color: var(--text-primary) !important;
  }
  
  ::ng-deep .ng-value-container .ng-value {
    background: linear-gradient(135deg, var(--custom-color), #ff6b6b) !important;
  }

  ::ng-deep input {
    background-color: var(--background-light-dark) !important;
    color: var(--text-primary) !important;
  }