<header class="header">
  <div>
    <button (click)="toggleSidebar()"> <!-- Add click event -->
      <i class="fas fa-bars"></i>
    </button>
    <button>
      <i class="fas fa-th-large"></i>
    </button>
  </div>
  <div>
    <img src="{{profilePic || '../../../../../../assets/images/user-pic.png'}}" />
  </div>
</header>

<!-- Modules Modal Overlay -->
<div class="my-modal-overlay" *ngIf="showModal">
  <div class="my-modal-content">
    <!-- Close icon -->
    <span class="close-button" (click)="closeModal()">
      <i class="fas fa-times"></i>
    </span>

    <!-- Module Menu Items -->
    <div class="mod-container" *ngFor="let mod of appModules">
      <div class="mod-menu">
        <!-- Clickable area: Only the icon and text wrapped in the anchor -->
        <a class="menu-link" 
           [ngClass]="{'disabled': currentModuleName === mod.Name}"
           (click)="currentModuleName !== mod.Name ? menuChange(mod) : null">
          <i class="fas {{mod.Icon}}"></i>
          <span>{{mod.Name}}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Profile Modal Overlay -->
<div class="my-modal-overlay" *ngIf="showProfileModal">
  <div class="my-modal-content">
    <!-- Close icon -->
    <span class="close-button" (click)="closeProfileModal()">
      <i class="fas fa-times"></i>
    </span>

    <!-- Profile Options -->
    <div class="profile-options">
      <!-- Profile link gets disabled if already on '/admin/my-profile' -->
      <a class="profile-link" 
         [routerLink]="['/admin', 'my-profile']"
         [ngClass]="{'disabled': currentUrl === '/admin/my-profile'}"
         (click)="closeProfileModal()">
        <i class="fas fa-user"></i>
        <span>Profile</span>
      </a>

      <!-- Logout link gets disabled if already on '/sign-in' -->
      <a class="profile-link" 
         (click)="logoutAndClose()"
         [ngClass]="{'disabled': currentUrl === '/sign-in'}">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </a>
    </div>
  </div>
</div>
